<button (click)="getDataFromApi()">get data from Api</button>
<button (click)="resetForm()">reset</button>

<div [formGroup]="form">
  <div>
    <h1>Form</h1>
    <input type="text" formControlName="icon" placeholder="icon" />
    <input type="text" formControlName="class" placeholder="class" />
    <input type="number" formControlName="label" placeholder="label" />
  </div>
  <div style="margin-left:50px">
    <div>
      <h3>Items</h3>
      <button (click)="addItems()">add Items</button>
    </div>
    <div [formGroup]="items" *ngFor="let items of items().controls; let i = index" style="margin:10px 0px">
      <span> items index: {{ i }} </span>
      <div>
        <input type="text" formControlName="icon" placeholder="icon" />
        <input type="text" formControlName="class" placeholder="class" />
        <input type="number" formControlName="label" placeholder="label" />
        <button (click)="deleteItems(i)">delete</button>
      </div>

      <div style="margin: 10px 50px">
        <button (click)="addChildItems(i)">add Child Items</button>
        <div [formGroup]="item" *ngFor="let childItems of childItems(i).controls; let j = index" style="margin:5px">
          <span>childItems index: {{ j }}</span>
          <div>
            <input type="text" formControlName="icon" placeholder="icon" />
            <input type="text" formControlName="class" placeholder="class" />
            <input type="number" formControlName="label" placeholder="label" />
            <button (click)="deleteItem(i, j)">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pre><br>result: {{ form.value | json }} </pre>
